body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

aside{
    display:block;
    width: 200px;
    padding: 20px;
    float: left;
    height: 100vh;
    overflow-y: auto;
}